---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables
$dark-background-color: #324C5C;
$dark-background-color-trans: rgba(50,76,92,0.8);
$dark-background-color-trans-90: rgba(50,76,92,0.9);
$highlight-color: #51B0BA;
$bgcolor-content: #FFFFFA;
$bgcolor-topnav: $dark-background-color;
$bgcolor-epcont: #fffffa;
$image-path: 'http://files.sugardrum.com';
$pale-border-color: #A4A7AA;
$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: 'Lora', 'Georgia', Cambria, 'Times New Roman', Times, serif;
$color-text-grey: #818689;
$color-text-dark: #272727;

@import 
	"bootstrap",
	"bootstrap-theme"	
;

a:link, a:visited {color: #2978A0;}
a:hover {color: lighten(#2978A0, 5%);}

body, html {font-family: $font-family-serif;}
body {background: #ffffff;} // #dce5e3 testing 
.col-all-full-width {padding-left: 0; padding-right: 0;}

p {font-family: $font-family-sans-serif; font-size: 1.2em; line-height: 1.6em; margin: 0 0 1.6em;}
blockquote {background: #fff; border-left: 3px solid #87D1B4; font-family: $font-family-sans-serif; margin: 1.6em 10px 2em 20px; padding: 10px 15px;}

.btn {font-family: $font-family-sans-serif;}
.btn-action {background: #0095F9; color: #fff; border: 1px solid darken(#0095F9, 10%); font-size: 21px; min-width: 200px;}
.btn-action:hover {background: lighten(#0095F9, 5%); color: #fff;}

.btn-common {background: $highlight-color; border: 1px solid #fff; font-size: 18px;}
a.btn-common:link, a.btn-common:visited {color: #fff;}
.btn-common:hover {background: lighten($highlight-color, 5%);}

.review-quote-cont .btn-common {
	margin: 30px auto 0; white-space: normal; width: 100%;
}

#content {position: relative;}
.entry-content {background: $bgcolor-content;}
// Nav
.top-nav {
	background: $bgcolor-topnav; color: #fff; display: none; font-family: $font-family-sans-serif; max-width: 440px; overflow: hidden; position: absolute; right: 0; top: 44px; width: 55%; z-index: 1000;
	a:link, a:visited {color: #fff;}
	.nav > li > a:hover, .nav > li > a:focus {background: $highlight-color;}
	.nav li {padding-left: 15px; padding-right: 15px;}
	.nav a {border-bottom: 1px solid #fff; display: block;}
}
.nav_icon {color: #fff; cursor: pointer; display: block; font-size: 1.6em; position: absolute; right: 15px; top: 5px;}

.top-section {
	background-repeat: no-repeat; background-size: cover; border-bottom: 2px solid #fff; color: #fff; min-height: 241px;
	h1 {background: $dark-background-color-trans; border-radius: 2px; color: #fff; display: inline-block; padding: 8px 15px; margin-top: 175px;}
}
.top-section-default {background-image: url(/img/banner-bw-barn-guitar-w1000.jpg); background-position: 50% 0; background-size: cover;}
.top-section-home {background-image: url(http://files.sugardrum.com/img/sugardrum-autumn-web-sepia-mobile.jpg); background-position: 0 0; margin-bottom: 0;}
.top-section-music {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-barn-reflection-w1500.jpg); background-position: 50% 50%;}
.top-section-news {background-image: url(http://files.sugardrum.com/img/sugardrum-barn-window-guitar-w335.jpg); background-position: 0 0;}
.top-section-videos {background-image: none; min-height: 0;}
.top-section-photos {background-image: url(http://files.sugardrum.com/img/sugardrum-barn-playing-bw-w500.jpg); background-position: 0 0;}
.top-section-gigs {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-colour-w500.jpg); background-position: 0 0;}
.top-section-contact {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-walking-back-2-w500.jpg); background-position: 50% 0;}
.top-section-reviews {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-woods-2-w500.jpg); background-position: 50% 0;}
.top-section-press {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-2-colour-w500.jpg); background-position: 0 0;}
.top-section-about {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-guitar-barn-2-w500.jpg);}


p#logo {
	background: $bgcolor-topnav; color: #fff; font-size: 28px; margin: 0; padding: 5px 10px;
	a:link, a:visited {color: #fff;}
}

.review-quote-cont {padding-bottom: 15px;}
.review-quote {
	background: rgba(0,0,0,0.3); color: #fff; font-size: 16px; margin: 1.6em 0 0 180px; padding: 4px 6px; 
	em {display: block;}
}

.new-album-section {
	background-image: url(http://files.sugardrum.com/img/postcards-album-packaging.jpg); background-position: 50% 0; background-repeat: no-repeat; background-size: cover; overflow: hidden;
	.btn, img {margin: 1em auto;}	
	.album-text {background-color: rgba(255,255,255,0.6); border-radius: 4px; display: inline-block; padding: 8px 15px;} //background: rgba(255,255,255,0.8); 
	// h2, p {background: rgba(255,255,255,0.8); border-radius: 4px; display: inline-block; padding: 8px 15px;}
	img {display: block;}
	.btn {display: inline-block;}
}

.videos-section {
	margin-top: 30px; overflow: hidden; padding: 0 0 1.6em 0;	
	p {margin: 4.6em 0 0;}
}
.home-youtube-container {
	clear: both; cursor: pointer; position: relative;
	img {max-height: 315px; width: 100%;}
	i {color: #fff; font-size: 72px; left: 50%; margin: -33px 0 0 -31px; position: absolute; text-shadow: 0 0 8px rgba(0, 0, 0, .5); top: 50%;}
}


.iframe-cont {margin: 15px auto;} // amazon kindle thing


footer.main-footer {
	background: #000 url(http://files.sugardrum.com/img/header-back-500-b.jpg) 50% 0 no-repeat; clear: both; color: #fff; padding-top: 106px; padding-bottom: 1.6em;
	a:link, a:visited {color: #fff;}
	.social-links {font-size: 31px; padding: 15px 0; text-align: center;}
	nav {display: none;}
	p {margin-top: 1.6em; text-align: center;}
}


@media only screen and (min-width: 481px) {

	// .btn {font-size: 1.6em;}
	.review-quote-cont {margin-top: 2.5em; margin-left: 55%; width: 40%;}
	.review-quote {background-color: transparent; font-size: 22px; margin-left: 0; padding: 0;}
	.top-section {
		min-height: 390px;
		h1 {margin-top: 275px;}
	}	
	.top-section-home {background-image: url(http://files.sugardrum.com/img/sugardrum-autumn-web-sepia-tablet.jpg);}
	.top-section-videos {background-image: none; min-height: 0;}
	.top-section-reviews {background-position: 50% 0;}
	.top-section-news {background-image: url(http://files.sugardrum.com/img/sugardrum-barn-window-guitar-w500.jpg);}
	
	.new-album-section {
		min-height: 320px;
		.album-text {margin-top: 30px;}
	}

	.videos-section {
		padding: 0 0 60px;
		p {margin: 1.6em 0 0;}
	}
	.home-youtube-container {
		img {max-height: 551px; max-width: 980px;}
	}
	footer.main-footer {
		background-image: url("http://files.sugardrum.com/img/header-back-1000-b.jpg");
		.social-links {margin-top: 4em;}
	}

} // end of media query


@media only screen and (min-width: 768px) {

	#content {color: #253031;}
	.text-col {margin: 0 auto; max-width: 840px;}
	.col-cont {margin: 0 auto; max-width: 1040px; overflow: hidden;}
	.videos-section {
		margin: 30px auto 0; max-width: 980px;
		// .col-cont {max-width: 640px}
	}
	.header {background: $dark-background-color; height: 41px; width: 100%;}
	p#logo {float: left;}
	.nav_icon {display: none;}
	.top-nav {
		background: $dark-background-color; display: block; font-size: 13px; position: relative; max-width: none; top: auto; width: auto;
		.nav {
			a {border-bottom: none; line-height: 41px; padding: 0 5px;}
			li {padding-right: 0; padding-left: 10px;}
		}
	}
	.top-nav .nav {	
		li.current-menu-item {
			a {background: #42ACB8;}
		}  
	}
	.top-section {
		margin: 1px auto 0;
		h1 {font-size: 3em; margin-top: 345px;}
	}
	.top-section-default {background-image: url(/img/banner-bw-barn-guitar-w2000.jpg);}
	.top-section-videos {border-bottom: none; min-height: 0;}
	.top-section-home {
		background-image: none; border-bottom: none; color: #fff; margin: 1px auto; max-width: 1000px; overflow: hidden; padding-top: 30px;
		.section-photo {background: url(http://files.sugardrum.com/img/sugardrum-autumn-web-sepia-tablet.jpg) 50% 0 no-repeat; background-size: cover; border: 2px solid #fff; border-radius: 50%; float: left; height: 380px; width: 380px;}
	}
	.top-section-music {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-barn-reflection-w900.jpg); background-position: 50% 50%;}
	.top-section-photos {background-image: url(http://files.sugardrum.com/img/sugardrum-barn-playing-bw-w900.jpg);}
	.top-section-gigs {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-colour-w900.jpg);}
	.top-section-news {background-image: url(http://files.sugardrum.com/img/sugardrum-barn-window-guitar-w768.jpg);}
	.top-section-reviews {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-woods-2-w900.jpg);}
	.top-section-press {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-2-colour-w900.jpg);}
	.top-section-about {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-guitar-barn-2-w900.jpg);}
	.top-section-contact {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-walking-back-2-w900.jpg);}

	.new-album-section {
		background-image: none; clear: left; 
		.section-photo {background: url(http://files.sugardrum.com/img/postcards-album-packaging.jpg) 0 0; border: 2px solid #fff; border-radius: 50%; float: right; height: 380px; width: 380px; z-index: 50;}
		.album-text {background: none; margin-top: 45px; text-align: center;}
		h2, p {border-radius: 0; display: block;}
		h2 {margin: 1.6em 0 0;}
		p {font-style: 1.5em; margin: 0; padding: 15px 15px 0 15px}		
	}
	.review-quote-cont {margin-top: 0;}
	.review-quote {font-size: 28px;}
	.entry-content {min-height: 440px;}
	.text-section {
		background: #fff; color: $color-text-grey; padding-top: 30px;
		h1, h2 {color: $color-text-dark;}
	}
	.page-navigation {
		// a:link, a:visited, a:hover, a:active {color: #fff;}
		a:hover {text-decoration: underline;}
	}
} // end of media query


@media only screen and (min-width: 1030px) {
	.top-nav {font-size: 16px;}
	// .top-section {min-height: 441px;}
	// .top-section {min-height: 0;}
	.top-section-home {
		.section-photo {background-image: url(http://files.sugardrum.com/img/sugardrum-autumn-web-sepia-desktop.jpg);}
	}
	.top-section-news {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-barn-window-guitar-w1500.jpg);}
	.top-section-music {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-barn-reflection-w1500.jpg); background-position: 50% 50%;}
	.top-section-gigs {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-colour-w1500.jpg);}
	.top-section-press {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-glasto-2-colour-w1500.jpg);}
	.top-section-about {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-guitar-barn-2-w1500.jpg);}
	.top-section-reviews {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-woods-2-w1500.jpg);}
	.top-section-contact {background-image: url(http://files.sugardrum.com/img/header-banners/sugardrum-walking-back-2-w1500.jpg);}
	.new-album-section {
		// background-image: url(http://files.sugardrum.com/img/postcards-album-packaging-w1400.jpg);
		// .btn {margin-top: 5em;}
		.section-photo {height: 440px; width: 440px;}
	}
	footer.main-footer {
		background-image: url("http://files.sugardrum.com/img/header-back-2000-b.jpg");		
	}

} // end of media query


@media only screen and (min-width: 1240px) {

	section {margin: 0 auto; max-width: 1400px;}
	// .new-album-section {min-height: 720px;}
	footer.main-footer {
		background-image: url("http://files.sugardrum.com/img/header-back-4000-b.jpg");		
	}
} // end of media query

@media only screen and (min-width: 1400px) {
	.top-section {border: 2px solid #fff; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; border-top: none;}
	.top-section-home, .top-section-videos {border: none;}
}

// gigs page


// Our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $base-font-weight: 400;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import 
	"videos",
	"photos",
	"fresco",
	"gigs",
	"music",
	"blog"

;


// overides for fresco plugin
.pswp {display: none;}

// Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting"
// ;
