<footer class="main-footer" role="contentinfo">
	<div class="col-xs-12">		
		<div class="social-links col-xs-12"><a href="http://www.youtube.com/user/sugardrum" title="Sugardrum on Youtube" target="_new" class="social_youtube"><i class="fa fa-youtube"></i></a> 
				<a href="https://soundcloud.com/sugardrum/" title="Sugardrum on Soundcloud" target="_new" class="social_soundcloud"><i class="fa fa-soundcloud"></i></a> 	
				<a href="http://www.facebook.com/pages/sugardrum/289395918859" title="Sugardrum on facebook" target="_new" class="social_facebook"><i class="fa fa-facebook"></i></a> 
				<a href="http://twitter.com/sugardrummusic" title="Sugardrum on twitter" target="_new" class="social_twitter"><i class="fa fa-twitter"></i></a> 						
				<a href="http://instagram.com/sugardrum" title="Sugardrum on Instagram" target="_new" class="social_instagram"><i class="fa fa-instagram"></i></a> 							
				<a href="http://shop.sugardrum.com/" title="Sugardrum on Bandcamp" target="_new" class="social_bandcamp"><i class="fa fa-bandcamp "></i></a> 						</div>

		<nav role="navigation">
			<ul id="menu-footer-menu" class="nav footer-nav clearfix">
				{% include nav.html %}
			</ul>
		</nav>	
	</div>
	<p class="source-org copyright">&copy; 2017 Sugardrum.</p>		
</footer>
