<header class="header" role="banner">
	<div class="col-cont">
		<p id="logo" class="h1"><a href="{{ site.baseurl }}/" rel="nofollow">{{ site.title }}</a></p>		
		<span class="nav_icon mobileNavIcon"><i class="fa fa-bars" id="menuClosed"></i><i class="fa fa-caret-down" id="menuOpen" style="display: none;"></i></span>

		<nav role="navigation" class="top-nav" id="menu-top-nav">
			<div class="">
				<ul class="nav navbar-nav">
					{% include nav.html %}
		        </ul>
			</div>
		</nav>
	</div>
</header>
