<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'home' %} current-menu-item{% endif %}"><a
title="Welcome to Music by Sugardrum" href="/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'music' %} current-menu-item{% endif %}"><a
title="Sugardrum recordings" href="/listen/">Music</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'videos' %} current-menu-item{% endif %}"><a
title="Videos of Sugardrum" href="/videos/">Videos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'photos' %} current-menu-item{% endif %}"><a
title="Photos of Sugardrum" href="/photos/">Photos</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'gigs' %} current-menu-item{% endif %}"><a
title="Sugardrum gigs" href="/gigs/">Gigs</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'news' %} current-menu-item{% endif %}"><a
title="Sugardrum news" href="/blog/">News</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'reviews' %} current-menu-item{% endif %}"><a
title="Sugardrum Reviews" href="/reviews/">Reviews</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'about' %} current-menu-item{% endif %}"><a
title="About Sugardrum" href="/about/">About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'press' %} current-menu-item{% endif %}"><a
href="/electronic-press-kit/">Press</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page{% if page.currentPage == 'contact' %} current-menu-item{% endif %}"><a
title="Get in touch" href="/contact/">Contact</a></li>