/**
 * Blog pages
 */
.post_thumbnail {display: none;}
article.post {
	border-bottom: 1px solid #cecece; margin-top: 1.6em; padding-bottom: 1.6em;
	h2 {margin-top: 0;}
	date {color: #999999; display: block; margin: 0.8em 0;}
}
article.post--snippet {margin-bottom: 1.6em;}

.col-cont > article.post:first-child {margin-top: 0;}

.page-navigation {
  clear: both; float: left;
  font-family: $font-family-sans-serif; 
  font-size: 14px;
  display: block;
  width: 100%; 
  a:link, a:visited {text-decoration: none;} 
  a:hover {background: darken(#fff, 5%);}
}

.page-navigation a {  
  display: block;  
  float: left;
  min-height: 64px;
  padding: 12px 15px;
  width: 50%;
}



.page-navigation .next {
  text-align: right;
}

.alignleft.size-thumbnail {margin: 0 10px 10px 0;}

.post-image-pull-left {display: block;}

.post-footer {clear: both;}

// .news-title-cont {margin-top: 180px;}

@media only screen and (min-width: 481px) {
  // .news-title-cont {margin-top: 260px;}
}

@media only screen and (min-width: 768px) {

  // .news-title-cont {
  //   margin-top: 220px;
  //   h2 {font-size: 4em;}
  // }

}

@media only screen and (min-width: 1024px) {
    .post {
        header {float: left; margin-left: 5%; padding-right: 30px; width: 30%;}        
        h1 {margin-top: 0;}
    }
    .post--snippet .text-col, .post-content {float: left; width: 45%;}
}