/**
 * Gigs page
 */
 
p.gig_details {
	border-bottom: 1px dashed $pale-border-color;
    margin: 0;
    padding: 0 0 15px;
    strong {display: block; margin: 0.5em 0 0.25em;}
    
}
h3.gig_title {margin: 1em 0 0;}