/**
 * Music page
 */
.ep_cont {
	background: $dark-background-color; color: #fff; margin: 2.5em auto; padding-top: 1.6em;
	.ep-cover-link {
		display: block; margin: 0 auto; width: 280px;
		img {width: 280px;}
	}
	.text-links {
		font-size: 1.6em; margin: 8px 12px; text-align: center;
		a {display: inline-block; margin-right: 8px;}
		a:link, a:visited {color: #fff;}
	}

}

@media only screen and (min-width: 768px) {

	.ep_cont {border: 10px solid #fff;}
}