---
layout: default
title: Sugardrum news
currentPage: news
topSectionBack: top-section-news
topSectionText: news-title.html  
---

<div class="text-section clearfix">
{% for post in paginator.posts %}
<article class="col-xs-12 post post--snippet"> 
  <header>    
    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>    
    <date>{{ post.date | date: "%b %-d, %Y" }}</date>
  </header>
  <div class="text-col"><p>{{ post.excerpt }}</p></div>
</article> 
{% endfor %}

  {% if paginator.total_pages > 1 %}
<ul class="pagination col-xs-12">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
  {% else %}
    <li><span aria-hidden="true">&laquo; Prev</span></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
  {% else %}
    <li><span aria-hidden="true">Next &raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
</div>



