---
layout: page
---

{% for post in site.categories[page.category] %}
<div class="h_post">    
{% if post.thumb %}
  <a href="{{ post.url | prepend: site.baseurl }}" rel="nofollow" title="Permanent Link to {{ post.title }}" class="post_thumbnail"><img src="{{ post.thumb | prepend: site.mediaurl }}" alt="{{ post.title }}" /></a>  
{% endif %}    
<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
<div class="post-meta-top"><div class="date"><span><strong>{{ post.date | date: "%-d %b, %Y" }}</strong></span></div></div>
{{ post.excerpt }}
</div>  
{% endfor %}



