---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}


  <body{% if page.bodyClass %} class="{{ page.bodyClass }}"{% endif %}>  
	<div>	
		{% include header.html %}
	
		<div id="content" class="content">	
	<section class="top-section{% if page.topSectionBack %} {{ page.topSectionBack }}{% else %} top-section-default{% endif %} clearfix">	
		<div class="section-photo"></div>	
		{% if page.topTitle %}
		<div class="col-cont"><div class="col-xs-12"><h1>{{ page.topTitle }}</h1></div></div>
		{% endif %}
		{% if page.topSectionText %}
		{% include {{ page.topSectionText }} %}
		{% endif %}
	</section>
		<div class="{% if page.fullWidth %}full-width{% else %}col-cont{% endif %}">
			{{ content }}
		</div>	
	

		{% if page.displaySoundcloud %}	
		<div class="col-xs-12">
			<div class="soundcloud_player"><iframe width="100%" height="380" scrolling="no" frameborder="no" src="//w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F678398&amp;auto_play=false&amp;show_artwork=true&amp;color=A7CBCF"></iframe></div>			
		</div>
		{% endif %}
		{% if page.displayTwitter %}
		<div class="col-xs-12">
			<a class="twitter-timeline" href="https://twitter.com/sugardrummusic" data-widget-id="387639340358041600" data-chrome="noborders transparent" data-tweet-limit="3">Tweets by @sugardrummusic</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.async=true;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>	
		</div>
		{% endif %}
		{% include footer.html %}
	
	<!-- Start scripts -->	
	<script src="https://use.fontawesome.com/e586678d0f.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
	  WebFont.load({
	    google: {
	      families: ['Lora']
	    }
	  });
	</script>
	<script type="text/javascript" src="/js/min/js_general.js"></script>
	{% include photoswipe.html %}
	<!-- End scripts -->
  </body>

</html>

